#main {
    margin-left: 0%;
    max-width: 54em;
    padding: 8em 4em 4em 4em;
    width: calc(100% - 35%);
}

    #main > section {
        border-top: solid 2px #efefef;
        margin: 4em 0 0 0;
        padding: 4em 0 0 0;
    }

        #main > section:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
        }


.full-img{
    width: 100%;
}