{{ "<!-- portfolio -->" | safeHTML }}
<section id="two">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="12u 12u$(xsmall) work-item">
                <h1>{{ .title | markdownify }}</h1>
                <h2>{{ .description | markdownify }}</h2>
            <!-- <a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb"> -->
                <img class='full-img' src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" />
            <!-- </a> -->

		</article>
		{{ end }}
	</div>
</section>
